<section id="projects">
<div class="container">
  <h3>As Seen On..</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<b>Your Django Story</b> <br>
I had the pleasure of being <strong><a href="http://blog.djangogirls.org/post/130542018183/your-django-story-meet-tapasweni-pathak">interviewed</a></strong> for Your Django Story, a blog that higlight women in the Django Community.
		</h5>

		</br>
		<h5>
			<b>Systers Pass It On Award Fall 2015</b> <br>
			I received <strong><a href="http://anitaborg.org/awards-grants/pass-it-on-awards-program/">Systers Pass It On Award</a></strong> Fall 2015. The aim of <a href="https://medium.com/systers-pass-it-on/systers-anita-borg-fall-2015-pass-it-on-award-winners-5b51432586f3#.ariz56qd7"> my project </a> is to help women get involved with open sources.
		</h5>

    </div>
  </div>
</div>
</section>
